<h1>Sistema de gerenciamento de cursos</h1>

<ul>
    <li><a href="">Alunos</a></li>
    <li><a href="">Cursos</a></li>
    <li><a href="">Instrutores</a></li>
    <li><a href="">Matriculas</a></li>
    <li><a href="">Turmas</a></li>
</ul>